# dependencies
node_modules/

# production build
dist/
build/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/

# optional coverage reports
coverage/

# cache
.cache/
.parcel-cache/
.vite/

# temporary files
*.tsbuildinfo